.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  height: 58vh;
  background-color: white;
  border: 1px solid rgb(212, 211, 214);
  width: 25rem;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.card-img-holder {
  width: 1rem;
  height: auto;
  position: relative;
}
.card-img-holder img {
  width: 26vw;
  height: 27vh;
  max-height: 15rem;
  border-radius: 1.5rem;
}
.blog-td-wrapper {
  display: flex;
  justify-content: space-between;
}
.blog-title {
  color: #22215b;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.blog-time {
  font-size: 0.8rem;
  color: #22215b;
}
.description {
  padding: 1rem 0;
  color: #22215b80;
  font-size: 1rem;
  max-height: 3.5rem;
  overflow: hidden;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  position: absolute;
  bottom: 1%;
  left: 5rem;
  padding-top: 1rem;
}
.btn {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 200;
  background: #eef7fe;
  color: #22215b;
  cursor: pointer;
  margin-top: 1rem;
  width: 5rem;
  height: 2.5rem;
  margin: 0 1rem;
  /* position: absolute;
  top: 2; */
}
/* .Cardwrapper {
  width: 20rem;
  height: 20rem;
  padding: 20px;
  position: relative;
  margin-bottom: 1rem;
    width: 25rem;
  height: auto;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
} */
.btnWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 4.3rem;
  right: 0;
  text-align: center;
}
/* .btn {
  bottom: 2rem;
  left: 60rem;
  width: 5rem;
  height: 3rem;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: #ef4f4f;
  overflow: hidden;
  border-style: none;
  border-radius: 0.3rem;
  cursor: pointer;
} */
